/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/simulate cb config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile cb
 */


docker.enabled = true

params  {
    num_participants = 40
    simulate_vcf = true
    simulate_plink = true
    simulate_gwas_sum_stats = true
    reference_1000G = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/simulate/simulate-ci-testing/ALL_1000G_phase1integrated_v3_impute.tgz"
    legend_for_hapgen2 = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/simulate/simulate-ci-testing/all_leg_chr21.tar.gz"
    simulate_cb_output = true
    simulate_cb_output_config = "https://testdata-magda.s3-eu-west-1.amazonaws.com/simulate-ci-testing/simulate_cb_output_config.yml"
    simulate_cb_output_output_tag = 'simulated'

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}

process {

  withLabel: high_memory {
    cpus = 2
  }

}
