/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/simulate reproduce issue #8274 config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */


docker.enabled = true
// Global default params, used in configs
params {

  // 1 - Workflow flags
  cpus_high_memory              = 2
  num_participants              = 1000000
  simulate_vcf                  = true
  simulate_plink                = true
  simulate_gwas_sum_stats       = true
  simulate_cb_output            = true
  simulate_cb_output_config     = 'https://raw.githubusercontent.com/lifebit-ai/simulate/adding-gel-gwas-simulation-scripts/testdata/simulate_cb_output_config.yml'
}

process {
  withLabel: high_memory {
    cpus = params.cpus_high_memory
  }
}