/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/simulate test_basic_sim_vcf_plink_gwas_stats config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_basic_sim_vcf_plink_gwas_stats
 */


docker.enabled = true

params  {
    num_participants = 40
    simulate_vcf = true
    simulate_plink = true
    simulate_gwas_sum_stats = true
    gwas_cases = 20
    gwas_controls = 20
    reference_1000G = "https://testdata-magda.s3-eu-west-1.amazonaws.com/simulate-ci-testing/ALL_1000G_phase1integrated_v3_impute.tgz"
    legend_for_hapgen2 = "https://testdata-magda.s3-eu-west-1.amazonaws.com/simulate-ci-testing/all_leg_chr21.tar.gz"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}

process {

  withLabel: high_memory {
    cpus = 2
  }

}

