/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/simulate test_sim_cb_output_query config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_sim_cb_output_query
 */


docker.enabled = true

params  {
    num_participants = 40
    simulate_vcf = false
    simulate_plink = true
    simulate_gwas_sum_stats = true
    gwas_cases = 20
    gwas_controls = 20
    reference_1000G = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/simulate/simulate-ci-testing/ALL_1000G_phase1integrated_v3_impute.tgz"
    legend_for_hapgen2 = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/simulate/simulate-ci-testing/all_leg_chr21.tar.gz"
    simulate_cb_output = "yes"
    simulate_cb_output_config = 'testdata/simulate_cb_output_config.yml'
    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}

process {

  withLabel: high_memory {
    cpus = 2
  }

}